fastapi==0.115.12
uvicorn[standard]==0.34.2
qdrant-client==1.14.2
sentence-transformers==4.1.0
openai==1.82.0
pyyaml==6.0.2
pydantic==2.11.3
python-multipart==0.0.20
einops
timm
torchvision
watchdog
pymupdf
python-docx
Pillow
